.container-login {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login-photo {
    display: flex;
    flex-direction: column;
}

.form-sign {
    background-color: #232338;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: auto;
    border: 2px solid white;
    border-radius: 5em;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.login-form {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.login-form > button {
    width: 50%;
    height: 2em;
    margin: auto;
}


.login-form > input {
    height: 2em;
    display: flex;
    flex-direction: column;
    margin: 1em auto 1em auto;
}


.form-sign > button {
    height: 2em;
    width: 50%;
    margin: 0 auto 0 auto;
}

.form-register {
    background-color: #232338;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: auto;
    border: 2px solid white;
    border-radius: 5em;
    width: 80%;
    justify-content: space-around;
}

.form-register > input {
    height: 2em;
    display: flex;
    /*flex-direction: column;*/
    margin: 1em auto 1em auto;
}


.form-register > button {
    height: 2em;
    width: 50%;
    margin: 0 auto 0 auto;
}


.logo {
    margin-left: 3.4vw;
}


.cinema-photo {
    width: 50vw;
    margin: auto;
}

.input-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container label {
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 70%;
    padding: 8px 0 5px 0;
    font-size: 1em;
    color: #fff;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #F1802D;
}


.btn-sing-in {
    color: white;
    text-transform: uppercase;
    background: #25A690;
    padding: 1.5em;
    border: 1px solid #25A690;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}

.btn-sing-in:hover {
    border-radius: 5em;
    transition: all 0.3s ease 0s;
}

.btn-choose {
    color: black;
    background-color: #F1802D;
    text-decoration: none;
    border: 1px solid #F1802D;
    padding: 0.4em;
    position: relative;
    overflow: hidden;
    border-radius: 0.1em;
    font-size: 0.8em;
    width: 10%;
    margin: 2vh auto 0 auto;
    text-align: center;
    cursor: pointer;

}

.btn-choose:hover {
    box-shadow: 0px 0px 8px 0px #F1802D;
    transition: all 0.3s ease 0s;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@media only screen and (max-device-width: 430px) {
    .login-photo {
        display: none;
    }

    .input-container {
        width: 100vw;
        font-size: 1em;
    }

    .btn-choose {
        font-size: 2em;
    }

    .input-container input {
        font-size: 2em;
    }

    .btn-choose {
        width: 30%;
    }

    .btn-sing-in {
        font-size: 1.4em;
    }

    /*.form-register {*/
    /*    width: 80vw;*/
    /*    font-size: 1em;*/
    /*    margin: auto;*/
    /*}*/
    /*.form-sign {*/
    /*    width: 80vw;*/
    /*    font-size: 1em;*/
    /*    margin: auto;*/
    /*}*/
}




