.watched-component{
    width: 90%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    background-color: #36374c;
    border-radius: 1em;
    margin: 1vh 1vw 1vh 1vw;
}

.watched-component-content{
    color: white;
    margin:1vh auto auto 1vw;
}

.text-lower {
    font-size: 0.7em;
    color: #707070;
}

.text-higher-watched {
    font-size: 1.4em;
    color: #F1802D;
    margin-bottom: 0.3em;
}

@media only screen and (max-device-width: 700px) {
.watched-component{
    margin: auto;
}

}
