.text-lower {
    font-size: 0.7em;
    color: #707070;
}

.text-higher {
    font-size: 1.4em;
    color: #25A690;
    margin-bottom: 0.3em;
}

.movie-component > div {
    display: flex;
    background-color: #36374c;
    height: 24vh;
    border-radius: 1em;
}

.movie-component-after{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.movie-component-after:hover{
    background-color: #393a50;
    border-radius: 1em;
}

.movie-component>div:hover {
    background-color: #393a50;
}


.movie-photo {
    margin: auto auto auto 1vw;
    /*background-color: white;*/
    border-radius: 1em;
    height: 9em;
    width: 6em;
}

.movie-component-content {
    text-align: center;
    margin: auto;
}

#demo-popup-popper {
    background-color: #393a50;

}

