.navbar {
    display: flex;
    flex-direction: column;
    width: 13vw;
    align-items: center;
    margin: 1vh 1vw 1vh 1vw;
    border-radius: 1em;
    /*background: #36374c;*/
    background: rgb(54, 55, 76);
    /*background: linear-gradient(180deg, rgba(54,55,76,1) 0%, rgba(64,66,91,1) 100%);}*/

}

.navbar-item {
    background: rgb(54, 55, 76);
    margin: 1em 0 1em 0;
    opacity: 1;
    width: 100%;
    text-align: center;
    color: #efefef;
    font-size: 2.5em;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    transition: all 1s ease-in-out;
}

.navbar-item :hover {
    background-color: #28293D;
    border-radius: 1em;
    width: 80%;
    transition: all 0s ease-in-out;
}

.navbar-mobile {
    display: none;
}

@media only screen and (max-device-width: 700px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: unset;
    }

}
